@{
	Layout = "_LayoutInside";
}

@using AskMe.Data;
@inject ApplicationContext appContext

@{
	var ads = from c in appContext.Ads orderby c.Title select c;
}

<form method="get">
	@foreach (var ad in ads)
	{
		var categoryName = (from c in appContext.Categories where c.Id == ad.CategoryId select c).FirstOrDefault().Name;
		<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
			<div class="card-header">@categoryName</div>
			<div class="card-body">
				<h4 class="card-title">@ad.Title</h4>
				<p class="card-text">@ad.Description</p>
			</div>
		</div>
	}
</form>
