@{
	Layout = "_Layout";
}

@model ICollection<IndexViewModel>
<div class="row">
	@foreach (var ad in Model)
	{
		<div class="col-sm-4">
			<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
				<div class="card-header">@ad.Category.Name</div>
				<div class="card-body">
					<h4 class="card-title">@ad.Title</h4>
					<p class="card-text">@ad.Description.Substring(0, 80) ...</p>
					<span class="badge badge-secondary">
						<a asp-controller="Ad" asp-action="ViewDetailAd"  asp-route-id="@ad.Id">View more</a>
					</span>
				</div>
			</div>
		</div>
	}
</div>
