<div class="jumbotron">
	<h1 class="display-3">Ask me!</h1>
	<p class="lead">Welcome to our team.</p>
	<hr class="my-4">
	<p>Go look around.</p>
	<p class="lead">
		<a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="About" role="button">Learn more</a>
	</p>
</div>