@model ForgotPasswordViewModel
<form method="post" asp-controller="User" asp-action="ForgotPassword">
	<fieldset>
		<legend>Forgot password</legend>
		<div class="form-group">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" type="email" />
			<span asp-validation-for="Email"></span>
		</div>
		@if (@ViewData["Send"] != null)
		{
		<div class="alert alert-dismissible alert-success">
			<strong>@ViewData["Send"]</strong>
		</div>
		}
		<input type="submit" class="btn btn-primary" value="Send" />
	</fieldset>
</form>
